<li class="<%=active(admin.admin_index_path)%> _auth" data-access-key="admin">
    <a href="<%=admin.admin_index_path%>"><i class="fa"></i>Admin</a>
</li>
<li class="<%=active(setup.setup_index_path)%> _auth" data-access-key="setup">
    <a href="<%=setup.setup_index_path%>"><i class="fa"></i>Set Up</a>
</li>
<li class="<%=active(order.manageorder_takeorder_path)%> _auth" data-access-key="order">
    <a href="<%=order.manageorder_takeorder_path%>"><i class="fa"></i>Order</a>
</li>
<!-- <li class="<%=active(order.manageorder_takeorder_path)%> _auth" data-access-key="bill">
    <a href="<%=order.manageorder_takeorder_path%>"><i class="fa"></i>Billing</a>
</li> -->