<%= render "admin/shared/page" %>

################### Header Begins ###################
<% content_for :page_header do %>

<h2 class="page-header">
  Show User
</h2>

<% end %>
################### Header Ends ###################

################### Body Begins ###################
<% content_for :page_body do %>

<div class="row">
  <div class="col-lg-6">
    <%= form_for :user do |f| %>
      <div class="form-group">
        <%= f.label :corporate_id, 'Corporate Id' %>
        <p class="form-control-static"><%= @user.corporate_id %></p>
      </div>

      <div class="form-group">
        <%= f.label :establishment_id, 'Establishment Id' %>
        <p class="form-control-static"><%= @user.establishment_id %></p>
      </div>

      <div class="form-group">
        <%= f.label :user_id, 'User Id' %>
        <p class="form-control-static"><%= @user.user_id %></p>
      </div>

      <div class="form-group">
        <%= f.label :user_name, 'User Name' %>
        <p class="form-control-static"><%= @user.user_name %></p>
      </div>

      <div class="form-group">
        <%= f.label :role %>
        <p class="form-control-static"><%= @user.role %></p>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <p class="form-control-static"><%= @user.email %></p>
      </div>

      <%= link_to "Back", :back, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% end %>
################### Body Ends ###################