<%= render "setup/shared/page" %>

<% content_for :page_header do %>

<h2 class="page-header">
    Role List
</h2>

<% end %>

<% content_for :page_body do %>

<%= link_to 'Create Role', setup_role_new_path, class: 'btn btn-primary _auth', 'data-access-key': 'setup.role_mgmt.create_role' %>

<br>
<br>

<div class="row">
	<div class="col-lg-9">
	    <div class="table-responsive">
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                    <th>Corporate Id</th>
	                    <th>Establishment Id</th>
	                    <th>Role Code</th>
	                    <th>Description</th>
	                    <th></th>
	                    <th></th>
	                    <th></th>
	                </tr>
	            </thead>

	            <tbody>
				    <% @roles.each do |role| %>
				      <tr>
				        <td><%= role.corporate_id %></td>
				        <td><%= role.establishment_id %></td>
				        <td><%= role.code %></td>
				        <td><%= role.desc %></td>
				        <td><%= link_to 'Show', setup_role_show_path(role), class: '_auth', 'data-access-key': 'setup.role_mgmt.show_role' %></td>
				        <td><%= link_to 'Edit', setup_role_edit_path(role), class: '_auth', 'data-access-key': 'setup.role_mgmt.update_role' %></td>
				        <td><%= link_to 'Delete', setup_role_destroy_path(role), method: :delete, class: '_auth', 'data-access-key': 'setup.role_mgmt.delete_role', data: { confirm: 'Are you sure?' } %></td>
				      </tr>
				    <% end %>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<% end %>